body {
    width: 550px;
    font-family: arial;
}

ul {
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

li.star {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    color: #9E9E9E;
}

li.star.selected {
    color: #ff6e00;
}

.row-title {
    font-size: 20px;
    color: #00BCD4;
}

.review-note {
    font-size: 12px;
    color: #999;
    font-style: italic;
}
.row-item {
    margin-bottom: 20px;
    border-bottom: #F0F0F0 1px solid;
}
p.text-address {
    font-size: 12px;
}

#preview{
    padding-top: 5%;
    border: 2px #3f494d solid;
    min-height: 400px;
    min-width: 400px;
    float: middle;
    border: 3px solid;
    border-radius: 3px;
    margin: auto;
    display: block;
    justify-content: center;
    width: fit-content;
}

#textdiv{
    color: black;
}

#addtoCartParentDiv{
    position: inherit;
}

#addtoCartButton{
    float: middle;
}

.rate_button {
    float: middle;
    height: 50px;
    width: 150px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}
