#preview{
    padding-top: 5%;
    border: 2px #3f494d solid;
    min-height: 400px;
    min-width: 400px;
    float: middle;
    border: 3px solid;
    border-radius: 3px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: fit-content;
    position: relative;
}

#textdiv{
    color: black;
}

#addtoCartButton{
    position: relative;
    align-items: center;
}