body{
    margin:0;
    padding:0;
    border:0;
}
#header{
    font-size:20px;
    background-color: lightblue;

}
p{
    margin: 0;
    padding: 0;
    border: 0;
}
/* LOGIN, REGISTER, LOGOUT */
ul{
    text-align: right;
    margin:0;
    padding:0;
    border:0;
}

ul#menu li{ 
    display: inline;
}

ul#login li{
    float: right;
    text-align: right;
}
#userpage{
    font-size:18px;
}
#userpage#clickable{
   font-size:14px;
}
