body{
    margin:0;
    padding:0;
    border:0;
    /* background: rgb(177, 184, 186); */
    /* font-family: "Lucida Console", "Courier New", monospace; */
}
#header{
    font-size:20px;
    background-color: lightblue;

}
p{
    margin: 0;
    padding: 0;
    border: 0;
    display:inline-block;
}
/* LOGIN, REGISTER, LOGOUT */
ul{
    text-align: right;
    margin:0;
    padding:0;
    border:0;
}

ul#menu li{ 
    display: inline;
}

ul#login li{
    float: right;
    text-align: right;
}
#clickable{
   font-size:14px;
    display:inline;
}
#userPage{
    font-size:16px;
}

/* Profilepage */
