body{
    background: rgb(222, 247, 255);
    font-family: "Lucida Console", "Courier New", monospace;
    align-self: middle;
}

h1{  
    font-size: 40px;
    text-align: center;
    align-self: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#title{
    padding: 3px;
    border: 0px #2091c1 solid;
    border-radius: 8px;
}

input[type=text], select{
    width: 200%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#description{
    padding: 3px;
    border: 0px #2091c1 solid;
    border-radius: 8px;
}

#price{
    padding: 3px;
    display: block;
    border: 0px #c6dde8 solid;
    border-radius: 8px;
}

#images{
    display: block;
    padding: 15px;
}

.posts{
    border: 2px solid;
    border-radius: 3px;
    display: flex;
    position: relative;
    float: middle;
    justify-content: left;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    color: #3f494d;
    padding: 10px;
    width: fit-content;
    min-width: 50%;
    margin:auto;
}

.post_button {
    float: middle;
    height: 50px;
    width: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px rgb(53, 141, 53) solid;
    border-radius: 8px;
    background-color: lightgreen;
    cursor: pointer;
}

.post_button:hover{
    background-color: #4CAF50;
    color: #A7F2B6;
}

textarea{
    resize: none;
}
