#middle{
    background-color: gray;
    height:33%;
}
#for-main-content{
    border:1px black;
    border-radius: 20%;
    align-self: center;
}

#cartIcon{
    padding:0;
}

#cartIconCount{
    position: relative;
    text-align: center;
}
/* For mainPost.php */
#postItem{
    border: 1px solid black;
    background-color: antiquewhite;
    padding:40px;
    margin-bottom: 10px;

    display:block;
    justify-content: center;
    align-items: center;
    width: 60vw;
}
/* ---------- */
