#middle{
    background-color: gray;
    height:33%;
}
#for-main-content{
    border:1px black;
    border-radius: 20%;
    align-self: center;
}

#cartIcon{
    position: fixed;
    right: 0px; 
    top: 100px;   
}

#cartIconCount{
    position: relative;
    text-align: center;
}
/* For mainPost.php */
#mainPost{
    border: 1px solid black;
}
/* ---------- */
