h1{  
    font-size: 30px;
    text-align: center;
    background-color: rgb(15, 215, 102);
    width: 200px;
    height: 140px;
    align-self: center;
}

#posts{
    padding: 0;
    display: inline-block;
    background-color: orange;
    font-size: medium;
    align-self: center;
    font-weight: bold;
}

.post_button {
    float: right;
    height: 50px;
    width: 100px;
    margin-right: 5px;
}

