body{
    background: lightblue;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1{  
    font-size: 40px;
    text-align: center;
    background-color: rgb(15, 215, 102);
    align-self: center;
}

#title{
    padding: 10px;
    border: 0px #2091c1 solid;
    border-radius: 8px;
}

#description{
    padding: 10px;
    border: 0px #2091c1 solid;
    border-radius: 8px;

}

#price{
    padding: 15px;
    display: inline-block;
    border: 0px #2091c1 solid;
    border-radius: 8px;
}

#images{
    display: inline-block;
}

.posts{
    border: 3px solid;
    border-radius: 3px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    color: #3f494d;
    padding: 10px;
    width: fit-content;
}

.post_button {
    float: right;
    height: 50px;
    width: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px rgb(53, 141, 53) solid;
    border-radius: 8px;
    background-color: lightgreen;
    cursor: pointer;
}

.post_button:hover{
    background-color: #4CAF50;
    color: #A7F2B6;
}

textarea{
    resize: none;
}

