.background{
    background: lightblue;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1{  
    font-size: 30px;
    text-align: center;
    background-color: rgb(15, 215, 102);
    align-self: center;
}

.posts{
    border: 5px solid;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: orange;
    font-size: 15;
    align-self: center;
    font-weight: bold;
    padding: 10px;
}

.post_button {
    float: right;
    height: 50px;
    width: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
}

textarea{
    resize: none;
}

