#grid-Title       { grid-area: PT; font-size: 25px; font-weight: bold; text-decoration: black underline;}
#grid-Desc        { grid-area: PD; font-style: italic;}
#grid-Image{ grid-area: PI; 
             display:grid; 
             justify-content:center; 
             align-items:center;
             

}
#grid-Image img{
    height:100%;
    width:90%;
    object-fit: cover;
    object-position: bottom;
    border:2px solid black;
    border-radius: 3px;
    max-width: 600px;
    max-height: 600px;
}

/* https://www.youtube.com/watch?v=KpuB7yFRHmg TILL CARUSELLEN MED BILDER, det är transitionen */
/* 
#img-container {
   margin: auto; 

}
#img-container > img{
    height:100%;
    width:100%;
} */


#grid-B { grid-area: B; }
#grid-C { grid-area: C; }
#grid-D { grid-area: D; }
#grid-E { grid-area: E; }
#grid-F { grid-area: F; 
    display:flex; 
    justify-content:center; 
    align-items:center; 
}
#price{
    font-weight:bold;
    font-size: 15px;
    border-radius: 3px;
    background-color: rgb(222, 247, 255);
    border-right:4px solid black;
    padding: 16px 32px;

}
#grid-G { grid-area: G; display:grid;}

#grid-G form{
    
    margin:auto;

}
.buttonAdd{
        background-color: rgb(222, 247, 255); 
        border-radius: 3px;
        color: black;
        border-left: 4px solid black;
        padding: 16px 32px;
        text-decoration: none;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;


        /* justify-content: center;
        align-items: center; */
}
.buttonAdd:hover {
    background-color: #a6f5ec;
    color: white;
  }

#postContainer{
    padding:6px;
    /* border: 1px solid black; */
    width:100vw;                                 /*vw = relative to 1% of thw width of viewport*/
    display:inline-grid;                         /*Inline grid gör att bordern wrappar runt contentet*/
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap   : 10px;
   
    grid-template-columns: repeat(4, (100%/4));  /* Väljer hur många cols på griden*/
    grid-template-rows:    repeat(4, 150px);     /* VÄLJER HUR MÅNGA ROWS */
    grid-template-areas:                         /*Detta ger oss en overlay för hur våran grid formas tänk en karta, ex: 5X4 våran tile map är 20 tiles vi kan handhava*/
    'PI PI PT PT'
    'PI PI B  C '
    'PD PD D  E '
    'PD PD F  G ';
   

}

#postContainer > div{ /* > div menar på att allt under diven får ...*/
    text-align: center;
    /* background-color: rgb(222, 247, 255);
    border: 1px solid black; */

}
