#grid-Title       { grid-area: PT; font-size: 20px;}
#grid-Desc        { grid-area: PD; font-style: italic;}
#grid-Image       { grid-area: PI;}
#grid-B { grid-area: B; }
#grid-C { grid-area: C; }
#grid-D { grid-area: D; }
#grid-E { grid-area: E; }
#grid-F { grid-area: F; }
#grid-G { grid-area: G; }

#postContainer{
    padding:6px;
    border: 1px solid black;
    width:100vw;                                 /*vw = relative to 1% of thw width of viewport*/
    display:inline-grid;                         /*Inline grid gör att bordern wrappar runt contentet*/
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap   : 10px;
   
    grid-template-columns: repeat(4, (100%/4));  /* Väljer hur många cols på griden*/
    grid-template-rows:    repeat(4, 150px);     /* VÄLJER HUR MÅNGA ROWS */
    grid-template-areas:                         /*Detta ger oss en overlay för hur våran grid formas tänk en karta, ex: 5X4 våran tile map är 20 tiles vi kan handhava*/
    'PI PI PT PT'
    'PI PI B  C '
    'PD PD D  E '
    'PD PD F  G ';
   

}
#postContainer > div{ /* > div menar på att allt under diven får ...*/
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
}