body{
    width:100vw;
    height:100%;
    background-color: rgb(222, 247, 255);
    margin:0;
    padding:0;
    border:0;
}
#profileContainer{
    width:60vw;
    height:100%;
    background-color:white;
    
    margin:auto;
}
.profilePicture {
    border-radius: 50%;
    border:1px solid darkslategray;

    width:100px;
    height:100px;
}
#postContainer{
    padding-top:100px;
    display: inline-grid;
    grid-template-columns: repeat(3, 150px);
    gap: 10px;
    justify-self: center;
}


#postItem{
    background-color: rgb(222, 247, 255);
    height:150px;
    width:150px;

    /* For the images */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#postItem .addItemIcon{
    float: left;
    padding: 5px;
}
#postItem .editItemIcon{
    float: right;
    padding: 5px;
}

/* For icons */

#postItem i.bi.bi-three-dots-vertical {
    color: black;
    font-size: 23px;
}
#postItem i.bi.bi-bag-plus {
    color: black;
    font-size: 23;
}


/* Media queries */

@media screen and (max-width: 800px) {
    #postContainer{
        grid-template-columns: repeat(2, 150px);
    }
  }