body{
    width:100vw;
    background-color: rgb(222, 247, 255);
    margin:0;
    padding:0;
    border:0;
}
#profileContainer{
    width:60vw;
    height:100vh;
    background-color:white;
    
    margin:auto;
}
.profilePicture {
    border-radius: 50%;
    border:1px solid darkslategray;

    width:100px;
    height:100px;
}
#postContainer{
    width:100%;                           
    display:grid;                         
    grid-gap: 4px;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
}
#postItem{
    background-color: rgb(222, 247, 255);
    height:150px;
    width:150px;
}

  /* Screen larger than 600px? 2 columns */
@media (min-width: 200px) {
    #postContainer { grid-template-columns: repeat(2, 150px); }
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 400px) {
    #postContainer { grid-template-columns: repeat(3, 150px); }
  }