body{
    width:100vw;
    background-color: rgb(222, 247, 255);
    margin:0;
    padding:0;
    border:0;
}
#profileContainer{
    width:60vw;
    height:100vh;
    background-color:white;
    
    margin:auto;
}
.profilePicture {
    border-radius: 50%;
    border:1px solid darkslategray;

    width:100px;
    height:100px;
}
#postContainer{
    padding-top:100px;
    display: inline-grid;
    grid-template-columns: repeat(3, 150px);
    gap: 10px;
    justify-self: center;
}
#postItem{
    background-color: rgb(222, 247, 255);
    height:150px;
    width:150px;
    display:flex;
}
#postItem img{
    max-width:100%;
    max-height:100%;
    object-fit: cover;
    object-position: bottom;
}
